<!DOCTYPE HTML>
<html>
<head>
	<title>{{ cfg_title }} - 后台管理</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<style media="all" type="text/css">@import "../../static/simple/css/a_all.css";</style>
	<style media="all" type="text/css">@import "../../static/simple/css/jquery/pagination.css";</style>
	<script src="{{ cfg_jquery }}"></script>
	<script src="../../static/simple/js/md5.js"></script>
	<script src="../../static/simple/js/a_admin.js"></script>
	<script src="../../static/simple/js/jquery/jquery.pagination.js"></script>
</head>
<body>
<div id="main">
	<div id="header">
		<!--上面的菜单-->
		<ul id="top-navigation">
		</ul>
	</div>
	<div id="middle">
		<!--参数-->
		{% csrf_token %}
		<input type="hidden" id="menu_param" />
		<!--左边菜单-->
		<div id="left-column">			
		</div>
		<div id="center-column">
			<!--内容部分-->
		</div>
		<div id="right-column">
			<strong class="h">当前用户</strong>
			<div class="box">
				<div>用户名:{{ request.session.sess_admin.name }}</div>
				<div><a href="#" id="logout"><b>退出登录</b></a></div>
			</div>
	    </div>
		<div id="right-column">
			<strong class="h">系统信息</strong>
			<div class="box">
				<div>System:{{ res_data.system }}</div>
				<div>Python:{{ res_data.python_version }}</div>
				<div>Django:{{ res_data.django_version }}</div>
				<div><a href="https://github.com/ouzhigang/django-ozgweb/tree/for_python2.7" target="_blank"><b>GitHub</b></a></div>
			</div>
	    </div>
	</div>
	<div id="footer"></div>
</div>

</body>
</html>
